<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
   <!-- 使用Log4j日志 -->
  <settings>
  		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="logImpl" value="LOG4J"></setting>
  </settings>
  
  <!-- 别名，配置后可以使用别名替代完整限定名 -->
  <typeAliases>
  	<typeAlias alias="User" type="com.paditang.domain.User"/>
  </typeAliases>
  <!-- 在Spring中配置扫描后此处不得重复添加映射
  <mappers>
    <mapper resource="com/paditang/mapping/UserMapper.xml"/>
  </mappers> -->
</configuration>